@use '@fortawesome/fontawesome-free/scss/variables' with (
  $font-path: './webfonts',
);
@use '@fortawesome/fontawesome-free/scss/fontawesome';
@use '@fortawesome/fontawesome-free/scss/fa' as fa;
@use '@fortawesome/fontawesome-free/scss/solid' as fa-solid;
@use '@fortawesome/fontawesome-free/scss/brands' as fa-brands;
@use '@fortawesome/fontawesome-free/scss/regular' as fa-regular;

@import "fonts";
@import "bs_variable_overrides";
@import "app_variables";
@import "bootstrap/scss/bootstrap";
@import "app_classes";
