$primary: #8b5cf6;
$secondary: #6b7280;
$success: #10b981;
$info: #06b6d4;
$warning: #f59e0b;
$danger: #ef4444;
$danger-light: #f6e8e8;
$light: #f3f4f6;
$dark: #111827;
$pink: #dc62d1;

$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #afb2b6;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;

$body-bg: $gray-100;
$body-color: $gray-700;

$sidebar-width: 250px;

$border-radius: 0.85rem;
$border-radius-sm: 0.75rem;
$border-radius-lg: 1.25rem;
$border-radius-xl: 1.5rem;

$btn-padding-y: 0.5rem;
$btn-padding-x: 1rem;
$btn-padding-y-sm: 0.375rem;
$btn-padding-x-sm: 0.75rem;
$btn-padding-y-lg: 0.625rem;
$btn-padding-x-lg: 1.25rem;

$btn-border-radius: $border-radius;
$btn-border-radius-sm: $border-radius-sm;
$btn-border-radius-lg: $border-radius-lg;

$btn-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$btn-active-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);

$input-padding-y: 0.5rem;
$input-padding-x: 0.75rem;
$input-padding-y-sm: 0.375rem;
$input-padding-x-sm: 0.5rem;
$input-padding-y-lg: 0.625rem;
$input-padding-x-lg: 1rem;

$input-border-radius: $border-radius-sm;
$input-border-radius-sm: $border-radius-sm;
$input-border-radius-lg: $border-radius-lg;

$input-bg: $gray-100;
$input-border-color: $gray-100;
$input-focus-border-color: $primary;
$input-focus-box-shadow: 0 0 0 0.125rem rgba($primary, 0.25);

$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

$card-border-width: 0;
$card-border-color: transparent;
$card-border-radius: $border-radius-lg;
$card-box-shadow: $box-shadow-sm;
$card-bg: white;
$card-cap-padding-x: 30px;

$table-bg: white;
$table-border-color: $gray-200;
$table-striped-bg: $gray-50;
$table-hover-bg: $gray-50;
$table-active-bg: $gray-100;
$table-cell-padding-y: 0.75rem;
$table-cell-padding-x: 1rem;
$table-cell-padding-y-sm: 0.5rem;
$table-cell-padding-x-sm: 0.75rem;
$table-border-width: 1px;

$font-weight-medium: 500;
$font-weight-semibold: 600;

/* Typography */
$font-family-base: "Inter", Arial, Helvetica, sans-serif;
$font-size-base: 0.9rem;

$input-placeholder-color: $gray-400;
$form-label-margin-bottom: .1rem;
$form-label-color: $gray-500;
$form-label-font-weight: 500;
$form-label-font-size: 14px;

/* Dropdowns */
$dropdown-bg:                       #fff;
$dropdown-box-shadow: $btn-box-shadow;
$dropdown-border-radius:            $border-radius;
$dropdown-item-padding-y:           $btn-padding-y;
$dropdown-item-padding-x:           $btn-padding-x;

$dropdown-header-color:             $gray-400;
$dropdown-header-padding-x:         $dropdown-item-padding-x;
$dropdown-header-padding-y:         $dropdown-item-padding-y;
