<div class="py-3 px-1 px-xl-3 sticky-top bg-white shadow-bottom h-header">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center gap-2">
        <button class="nav-link link-secondary d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar">
          <i class="fa-solid fa-bars fs-5"></i>
        </button>
        <div class="d-flex flex-column gap-1 justify-content-center">
          <h5 class="mb-0 fw-semibold">
            <%= evaluate_page_title %>
          </h5>
          <% if evaluate_page_subtitle.present? %>
            <p class="text-body-tertiary mb-0 small d-none d-sm-block"><%= evaluate_page_subtitle %></p>
          <% end %>
        </div>
      </div>
      <% if content_for?(:header_actions) %>
        <div class="d-flex justify-content-center align-items-center gap-1">
          <%= yield(:header_actions) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
