<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">Add Certificate</h5>
      </div>
      <div class="card-body">
        <%= render "form", certificate: @certificate %>
      </div>
    </div>
  </div>
</div>
